html, body {
    margin: 0;
    padding: 0;
    background: #e5e5e5;
    font-family: Arial, sans-serif;
}

.container {
    padding: 10px 15px;
}

.btn-container {
    margin-left: 48%;
    padding: 20px 30px;
}

.survey-field-item {
    background: #cdd8ea;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.survey-field-item:last-child {
    margin-bottom: 0;
}

.question-label {
    font-weight: 600;
    margin-right: 15px;
}

.survey-field-item > div {
    display: flex;
    align-items: center;
}

.question-answers .choice-item {
    display: flex;
    align-items: center;
    height: 30px;
}

.survey-rating input {
    width: 300px;
}

.survey-textarea textarea {
    resize: none;
    width: 300px;
}